/* Стиль для контейнера задачи */
.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Стиль для чекбокса */
.todo-checkbox {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Стиль для текста задачи */
.todo-text {
    flex-grow: 1;
    font-size: 20px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стиль для кнопки "Удалить" */
.todo-deleteBtn {
    width: 35px;
    height: 35px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.todo-deleteBtn:hover {
    background-color: #c0392b;
}

.todo-list-container {
    margin-left: 14px;
    max-height: 553px;
    overflow-y: auto;
}